<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/']" ><img src="assets/okinotes.png"> Okinotes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto flex-grow-1">
            <li class="nav-item"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <a class="nav-link" [routerLink]="['/home']" ><span class="oi oi-home"></span> Home</a>
            </li>
            <li class="nav-item" *ngIf="currentUser" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/create']" ><span class="oi oi-document"></span> Create</a>
            </li>
        </ul>
        <span class="navbar-text" *ngIf="currentUser">
            Connected as <a [routerLink]="['/user']"><em>{{currentUser.name}}</em></a>
        </span>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" *ngIf="!currentUser" (click)="onLogin()"><span class="oi oi-account-login"></span> Login</a>
                <a class="nav-link" href="#" *ngIf="currentUser" (click)="onLogout()"><span class="oi oi-account-logout"></span> Logout</a>
            </li>
        </ul>
    </div>
</nav>